<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-button [routerLink]="'../upload'">
      <mat-icon color="accent">upload</mat-icon>
      {{'upload' | translate}}
    </button>
    <button mat-button [routerLink]="'../statistic'">
      <mat-icon color="accent">analytics</mat-icon>
      {{'statistic' | translate}}
    </button>
    <button mat-button [routerLink]="'../gallery'">
      <mat-icon color="accent">insert_photo</mat-icon>
      {{'gallery' | translate}}
    </button>
  </mat-toolbar>
</p>

<!-- Main -->
<div class="content" role="main"></div>

<router-outlet></router-outlet>
