<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-button [routerLink]="'../upload'">
      <mat-icon color="accent" class="mr-1">upload</mat-icon>
      <span>{{'upload' | translate}}</span>
    </button>
    <button mat-button [routerLink]="'../statistic'">
      <mat-icon color="accent"  class="mr-1">analytics</mat-icon>
      <span>{{'statistic' | translate}}</span>
    </button>
    <button mat-button [routerLink]="'../gallery'">
      <mat-icon color="accent"  class="mr-1">insert_photo</mat-icon>
      <span>{{'gallery' | translate}}</span>
    </button>
    <span class="example-spacer"></span>
    <mat-slide-toggle color="accent"></mat-slide-toggle>
    <button mat-button>
      <mat-icon color="accent" class="mr-1">language</mat-icon>
      <span>{{'language' | translate}}</span>
    </button>
  </mat-toolbar>
</p>

<!-- Main -->
<div class="content" role="main"></div>

<router-outlet></router-outlet>
