<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-button [routerLink]="'../upload'">
      <mat-icon color="accent" class="mr-1">upload</mat-icon>
      <span>{{'upload' | translate}}</span>
    </button>
    <button mat-button [routerLink]="'../statistic'">
      <mat-icon color="accent"  class="mr-1">analytics</mat-icon>
      <span>{{'statistic' | translate}}</span>
    </button>
    <button mat-button [routerLink]="'../gallery'">
      <mat-icon color="accent"  class="mr-1">insert_photo</mat-icon>
      <span>{{'gallery' | translate}}</span>
    </button>
    <span class="example-spacer"></span>
    <mat-slide-toggle color="accent"></mat-slide-toggle>
    <button mat-button [matMenuTriggerFor]="menu">
      <span [class]="CLASS_FLAG + selected_language"></span>
    </button>
    <mat-menu #menu="matMenu" class="d-inline-flex justify-content-center">
      <button *ngFor="let language of AVAILABLE_LANGUAGES" mat-menu-item (click)="selected_language = language">
        <span [class]="CLASS_FLAG + language"></span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<!-- Main -->
<div class="content" role="main"></div>

<router-outlet></router-outlet>
