<div class="d-flex flex-column align-items-center text-center my-5">
    <button mat-raised-button color="accent" class="w-25 mt-5" id="upload-button">
        {{'upload.button-message' | translate}}
    </button>
    <input type="file" multiple [fileUploadInputFor]="fileUploadQueue" class="position-absolute w-25 mt-5" id="upload-input"/>

    <p class="mt-4">{{'upload.or' | translate}}</p>

    <div [fileUploadInputFor]="fileUploadQueue" class="w-50 p-5 mt-3 rounded mx-auto" id="upload-zone">
        {{'upload.zone-message' | translate}}
    </div>
</div>

<div class="mx-3">
    <mat-file-upload-queue id="fileUploadQueue" #fileUploadQueue>
        <div *ngFor="let file of fileUploadQueue.files; let i = index"
            class="d-flex flex-row mx-3 justify-content-center">
            <span class="align-self-center col-4">{{file.name}}</span>
            <span class="align-self-center ml-4 col-1">{{file.size | bytes}}</span>
            <mat-icon color="primary" class="mr-1 delete-button" (click)="deleteFile(file)">delete</mat-icon>
        </div>
    </mat-file-upload-queue>
    <div class="d-flex flex-row mt-n4">
        <button mat-raised-button color="primary" 
            type="button"
            class="d-flex ml-auto mr-2" 
            *ngIf="fileUploadQueue.files.length > 0"
            (click)="upload()"
            data-toggle="modal"
            data-target="#loadingModal">
            {{'upload.upload-all' | translate}}
        </button>
        <button mat-raised-button color="primary" 
            class="d-flex ml-2 mr-auto" 
            *ngIf="fileUploadQueue.files.length > 0"
            (click)="deleteAllFiles()">
            {{'upload.remove-all' | translate}}
        </button>
    </div>
</div>

<app-loading-modal></app-loading-modal>
