<div class="d-flex flex-column align-items-center text-center my-5">
    <button mat-raised-button color="accent" class="w-25 mt-5" id="upload-button">
        <span>{{'upload.button-message' | translate}}</span>
    </button>
    <input type="file" multiple [fileUploadInputFor]="fileUploadQueue" class="position-absolute w-25 mt-5" id="upload-input"/>

    <p class="mt-4">{{'upload.or' | translate}}</p>

    <div [fileUploadInputFor]="fileUploadQueue" class="w-50 p-5 mt-3 rounded mx-auto" id="upload-zone">
        {{'upload.zone-message' | translate}}
    </div>
</div>


<mat-file-upload-queue #fileUploadQueue
    uploadAllLabel="{{'upload.upload-all' | translate}}"
    removeAllLabel="{{'upload.remove-all' | translate}}">
    <div *ngFor="let file of fileUploadQueue.files; let i = index"
        class="d-flex flex-row">
        <span class="align-self-center">{{file.name}}</span>
        <mat-icon color="primary" class="mr-1 delete-button" (click)="deleteFile()">delete</mat-icon>
    </div>
</mat-file-upload-queue>
