
// Custom Theming for Angular Material
@import '~@angular/material/theming';

// Include the common styles for Angular Material
@include mat-core();

// Custom maua colors
$maua-hover-color-light: (
  500: #f0ead2,
  contrast: (
    500: #000000,
  )
);

$maua-primary-color: (
  500: #6c584c,
  contrast: $maua-hover-color-light
);

$maua-accent-color: (
  500: #adc178,
  contrast: (
    500: #000000,
  )
);

$maua-warn-color: (
  500: #c83737,
  contrast: (
    500: #000000,
  )
);

// Custom maua palettes
$maua-hover: mat-palette($maua-hover-color-light);
$maua-primary: mat-palette($maua-primary-color);
$maua-accent: mat-palette($maua-accent-color);
$maua-warn: mat-palette($maua-warn-color);

// Custom maua theme
$maua-theme: mat-light-theme((
  color: (
    primary: $maua-primary,
    accent: $maua-accent,
    warn: $maua-warn,
  )
));

// Include theme styles for core and each component
@include angular-material-theme($maua-theme);

:root {
  --maua-primary: #{mat-color($maua-primary)};
  --maua-hover: #{mat-color($maua-hover)};
}

// Custom maua dark colors
$maua-dark-primary-color: (
  500: #232323,
  contrast: $maua-hover-color-light
);

$maua-dark-accent-color: (
  500: #6c584c,
  contrast: $maua-hover-color-light
);

// Custom maua dark palettes
$maua-dark-primary: mat-palette($maua-dark-primary-color);
$maua-dark-accent: mat-palette($maua-dark-accent-color);
$maua-dark-warn: mat-palette($maua-warn-color);

// Custom maua dark theme
.maua-dark-theme {
  $maua-dark-theme: mat-dark-theme((
    color: (
      primary: $maua-dark-primary,
      accent: $maua-dark-accent,
      warn: $maua-dark-warn,
    )
  ));
  
  // Include theme styles for core and each component
  @include angular-material-theme($maua-dark-theme);
}
